<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Girls Blog</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Django Girls Blog</a></h1>
    </header>
    <!-- <article>
      <time>Published: 21.04.22, 11:53</time>
      <h2><a href="">My first post</a></h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis
        commodi natus nobis!
      </p>
    </article> -->
    {% for post in posts %}
    <article>
      <time>published: {{ post.published_date }}</time>
      <h2><a href="">{{ post.title }}</a></h2>
      <p>{{ post.text|linebreaksbr }}</p>
    </article>
    {% endfor %}
  </body>
</html>
